body {
    background: #413f3f;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.app-container {
    background: rgb(103, 103, 103);
    padding: 8rem;
    border-radius: 120px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    width: 450px;
    text-align: center;
    font-family: monospace;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}

textarea {
    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 8px;
    box-sizing: border-box;
}

.button {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.btn-enc {background: #03bd00;}
.btn-dec {background: #009dff;}
.btn-reset {background: #8903c8;}
.btn-viewK {background: #ad0606;}



.result {
    background: rgb(255, 255, 255);
    width: 95%;
    height: 120px;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 15px;
    text-align: left;
    word-wrap: break-word;
    font-family: monospace;
    color: #000000;
    overflow-y: auto;
}